<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Futbol Collector</title>
</head>

<body>
  {% extends 'base.html' %}
  {% block content %}

  <h1>About the Futbol Collector</h1>
  <hr />
  <h3>An app created to keep track of your Sunday league team's stats.</h3>
  <footer>All Rights Reserved, &copy; 2020 Futbol Collector</footer>

  {% endblock %}
</body>

</html>