body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #F4B860;
  color: #040403;
}

.card {
  background-color: #2E7D32;
}

main {
  flex: 1 0 auto;
}

.card-title {
  color: #99C2EB;
}

.player-title:hover {
  color: #F06543;
}

#player-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #040403;
}

.container-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.player-details-header {
  display: flex;
  justify-content: center;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}