body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color:#afff99a5;
  color: #040403;
}

.card {
  background-color: #2e7d32e9;
}

main {
  flex: 1 0 auto;
}

.card-title {
  color: #99C2EB;
}

.player-title:hover {
  color: #F06543;
}

#player-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #040403;
}

.container-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

label {
  font-size: 20px;
  color: #2E7D32;
}

td, th {
  width: 10%;
}

.player-details-header {
  display: flex;
  justify-content: center;
}

.card-action {
  display: flex;
  flex-direction: row;
  font-size: 32px;
  color: #F06543;
}

.action-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}