{% extends 'base.html' %}
{% block content %}

<h1>Player Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">
      <h2>{{ player.name }}</h2>
      <h3>Kit Number: {{player.kitNumber}}</h3>
    </span>
    <h3>Age: {{ player.age }}</h3>
    <h3>Position: {{ player.position }}</h3>
    <h3>Preferred Foot: {{ player.preferredFoot }}</h3>
    <h5>Appearances: {{ player.appearances }}<h5>
        <h5>Goals: {{ player.goals }}<h5>
            <h5>Assists: {{ player.assists }}<h5>
  </div>
</div>

{% endblock %}